.header {
    padding-top: env(safe-area-inset-top, 0);
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.6);
    border-block-end: 1px solid;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.6);
    border-block-start: 1px solid;
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.side {
    border-right: 1px solid;
}

.content {
    padding-top: calc(env(safe-area-inset-top, 0) + 64px);
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
    /* 修复滚动问题 */
    height: 100%;
    width: 100%;
    /* 使用 -webkit-overflow-scrolling 改善 iOS 滚动 */
    -webkit-overflow-scrolling: touch;
    /* 确保可以滚动 */
    overflow-y: scroll;
    overflow-x: hidden;
}
