@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    /* 支持刘海屏等设备 */
    height: calc(100% + env(safe-area-inset-top));
    /* 防止iOS橡皮筋效果 */
    overscroll-behavior: none;
}

body {
    margin: 0;
    height: 100%;
    /* 防止移动端滚动时出现弹性效果 */
    position: fixed;
    width: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ant-message-top {
    top: calc(8px + env(safe-area-inset-top)) !important;
}

.ant-float-btn-group {
    bottom: calc(64px + env(safe-area-inset-top)) !important;
}

.ant-ribbon {
    z-index: 1 !important;
}

.ant-rate-star{
    margin-inline-end: 3px !important;
}

.yarl__counter, .yarl__toolbar {
    padding-top: env(safe-area-inset-top) !important;
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
}
